@charset "UTF-8";

	
	/*		로그인 영역 스타일 	*/
	.logInDivStyle{
		width: 70%;
		border-style: solid;
		border-width: 1px;
		border-color: #f2f4f5;
		border-radius: 10px;
	}
	
	.logInBottomDivStyle{
		width: 70%;
		padding: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #f2f4f5;
		border-bottom: none;
		border-left: none;
		border-right: none;
	}
	
	/*		회원가입 영역 스타일	*/
	.SignUpDivStyle{
		width: 90%;
		border-style: solid;
		border-width: 1px;
		border-color: #f2f4f5;
		border-radius: 10px;
		white-space: nowrap;
	}
	
	.SignUpListDivStyle{
		width: 70%;
		border: none;
		word-break:break-all;
		white-space: nowrap;
	}